<div>
    <section class= "hero is-light is-medium is-bold">
        <div class = "hero-body">
            <div class = "container has-text-centered">
                <%#= image_tag "https://i.pinimg.com/originals/5f/fb/de/5ffbdeceb84323decd76084b2efca958.png", size:"150x150"%>
                
                <%= image_tag "https://www.acessogeo.com.br/images/logogeo.jpg", size:"400x400"%>
        
                 
        </div>
    </div>
   </section>
</div>