<div class="hero">
    <div class="notification">
      <h1 class="title">
        Nova Classe:
      </h1> 
    </div>
  </div>
<%= render 'form', classe: @classe %>

<button class="button is-outlined"><%= link_to 'Voltar', classes_path %></button>